name: Docker Release
on:
  pull_request:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: 'Release version to tag (e.g., 2.1.0). Will be used for release artifacts and git tag.'
        required: true
      developmentVersion:
        description: 'Next development version (e.g., 2.2.0-SNAPSHOT). Will be used for continuing development after release.'
        required: true
env:
  OSS_USERNAME: ${{ secrets.OSS_USERNAME }}
  OSS_PASSWORD: ${{ secrets.OSS_PASSWORD }}
  GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.inputs.releaseVersion }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Build & Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            openapitools/openapi-diff:${{ github.event.inputs.releaseVersion }}
            openapitools/openapi-diff:latest
